#Main {
	text-align: center;
}

#Board {
	position: relative;
	width: 480px;
	height: 480px;
	margin: 0;
}

#EngineOutput {
	position: relative;
}

.Square {
	position: absolute;
	width: 60px;
	height: 60px;
}

.Dark {
	background-color: #b58863;
}

.Light {
	background-color: #f0d9b5;
}

.SqSelected {
	background-color: #819669;
}

.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px;  }
.rank8 { top: 0px;   }

.file1 { left: 0px;   }
.file2 { left: 60px;  }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.Piece {
	position: absolute;
}

.popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display: none;
}

.popup .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 450px;
	height: 140px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.popup .close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height:  30px;
	text-align: center;
	border-radius: 50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content {
	transition: all 100ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}
